*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: linear-gradient(to bottom, red,orange);
}
.pokedex{
    width: 100%;
    height: 500px;
    max-width: 425px;
}
main{
    display: inline-block;
    padding: 15px;
    position: relative;
    margin-top: 2%;
    position: relative;
}
.pokemonimg{
    position: absolute;
    bottom: 40%;
    left: 31%;
    height: 23%;
}
.ddp{
    position:absolute;
    font-weight: 500;
    color: rgb(53, 53, 230);
    top: 60%;
    left: 20%;
}
.namepok{
    text-transform: capitalize;
}
.form{
    position: absolute;
    top:30%;
    left:15%;
    width: 69%;
}
.search{
    width: 100%;
    padding: 2%;
    outline: none;
    border: 1px solid lightblue;
    border-radius: 10px;
    font-weight: 600;
    color : rgb (58, 58, 58);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: -1px 2px 0 #ADD8E6
}
input::placeholder{
    color: rgb(44, 43, 43);
}
.buttons{
    position: absolute;
    bottom: 5%;
    left: 16%;
    width: 65%;
    display: flex;
    gap: 30px;
}
.button{
    width: 50% ;
    padding: 1%;
    border: 1px solid rgb(116, 18, 18);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: -1px 2px 0 rgb(116, 18, 18);
}
.button:active{
    box-shadow: inset -3px 3px 0 rgb(116, 18, 18);
}